<button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#addHSKBModal">
  <i class="bi bi-plus-circle"></i> Tạo hồ sơ
</button>

<div class="modal fade" id="addHSKBModal" tabindex="-1" aria-labelledby="addHSKBModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addHSKBModalLabel">Thêm mới hồ sơ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addHSKB()" #addHSKBForm="ngForm">
          <div class="mb-3">
            <label for="doctorName" class="form-label">Bác sĩ điều trị</label>
            <input type="text" class="form-control" id="doctorName" name="doctorName" required [(ngModel)]="newHSKB.doctorName">
          </div>
          <div class="mb-3">
            <label for="symptoms" class="form-label">Triệu chứng</label>
            <input type="text" class="form-control" id="symptoms" name="symptoms" required [(ngModel)]="newHSKB.symptoms">
          </div>
          <div class="mb-3">
            <label for="conclusion" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="conclusion" name="conclusion" required [(ngModel)]="newHSKB.conclusion">
          </div>
          <button type="submit" class="btn btn-dark w-100">Thêm hồ sơ</button>
        </form>
      </div>
    </div>
  </div>
</div>
