<div class="card w-100">
  <div class="border-bottom p-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-2">
        <li class="breadcrumb-item text-muted">
          <a [routerLink]="['/component/quanlybenhnhan']" class="text-decoration-none text-muted">Danh sách bệnh nhân</a>
        </li>
        <li class="breadcrumb-separator mx-1"> &gt; </li>
        <li class="breadcrumb-item text-muted">
          <a (click)="quayLai()" class="text-decoration-none text-muted" style="cursor: pointer;">Danh sách hồ sơ khám bệnh</a>
        </li>
        <li class="breadcrumb-separator mx-1"> &gt; </li>
        <li class="breadcrumb-item active fw-semibold" aria-current="page">
          Đơn thuốc
        </li>
      </ol>
    </nav>

    <h2 class="fw-bold mb-1" style="font-size: 30px;">Đơn thuốc</h2>
    <p class="text-muted mb-0">Thông tin đơn thuốc chi tiết</p>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card p-5 shadow" style="min-width: 600px; max-width: 800px; width: 100%;">
      <h4 class="text-center fw-bold mb-4">Đơn thuốc</h4>

      <div class="row mb-2">
        <div class="col-6 fw-semibold">Tên bệnh nhân:</div>
        <div class="col-6">{{patientName}}</div>
      </div>
      <div class="row mb-2">
        <div class="col-6 fw-semibold">Bác sĩ điều trị:</div>
        <div class="col-6">{{doctorName}}</div>
      </div>

      <!-- Danh sách thuốc -->
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Tên thuốc</th>
            <th class="text-dark font-medium fs-4">Đơn vị</th>
            <th class="text-dark font-medium fs-4">Số lượng</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of danhSachThuoc.items">
            <td class="fs-4">{{ dt.medicine?.medicineName }}</td>
            <td class="fs-4">{{ dt.unit }}</td>
            <td class="fs-4">{{ dt.quantity }}</td>
            <!-- <td class="fs-4">
              <button type="button" class="btn btn-dark btn-sm" (click)="chonThuocDeSua(dt)">Sửa</button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-danger btn-sm" (click)="xoaThuoc(dt.id)">Xoá</button>
            </td> -->
          </tr>
        </tbody>
      </table>


      <div class="text-center">
        <button class="btn btn-info" (click)="hienSuaDonThuoc = true">Cập nhật danh sách thuốc</button> &nbsp;
        <button class="btn btn-secondary" >In đơn thuốc</button> &nbsp;

      </div>
    </div>
  </div>
</div>
<app-suadonthuockhambenh
  *ngIf="hienSuaDonThuoc"
  [danhSachThuoc]="danhSachThuoc.items"
  [medicalRecordId]="hsId"
  (dong)="hienSuaDonThuoc = false"
  (taiLai)="taiLaiDuLieu()"
></app-suadonthuockhambenh>
